.flexColChild--firstline-right-col,.wrapper--firstline-text{
    color:white;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.paragraph--text-bag-icon{
    font-size: 12px;
}
.paragraph--firstline-text {
    margin: 0;
    padding: 1px 0;
}