.minicartWrapperContainer{
    /* width:40px; */
    align-items: center;
}
.openIconContainer{
    display:flex;
    align-items: center;
    /* padding-right: 0; */
}

.openIconContainer :global(.vtex-button) {
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
.openIconContainer :global(.vtex-button)::after{
    content:"Minha sacola";
    color:#222222;
    white-space: nowrap;
    font-size: 12px;
}
 