.container {
    max-width: 1366px;
    margin: 0 auto;
    background-color: #fff;
}
.wrapper--sticky-header :global(.vtex-store-drawer-0-x-openIconContainer--drawer_challenge){
    visibility: hidden;
    z-index: 100;
    position:absolute;
}
.wrapper--sticky-header--stuck :global(.vtex-store-drawer-0-x-openIconContainer--drawer_challenge){
    visibility: visible;
    z-index: 0;
}
