/* .flexRowContent--header-links{
    margin: 11px auto 0 auto;
    max-width: 1366px;
} */
.flexRowContent--first-line{
    /* height:20px; */
    align-items: unset;
}

.flexCol--firstline-left-col{
    background-color: #D40053;
    width:60px !important;
}
.flexRowContent--main-header {
    justify-content:space-between;
}
.flexRowContent--category-container-inner1 .stretchChildrenWidth {
    margin: 0 20px;
}
.flexCol--firstline-right-col{
    background-color: #55595E;
    height: 100%;
    justify-content: center;
}
.flexRow--main-header{
    margin:0 auto;
    max-width: 1366px;
}
.flexRowContent--bag-icon{
    display: flex;
    align-items: center;
    gap:10.97px;
}
.flexRowContent--header-links:last-child{
    padding-right: 12px;
}

.flexRow--wrapper-row-menu{
    visibility: visible;
    transition:.5s;
}