.searchBarContainer{
    width:510px;
    margin:0 190px 0 143.88px;
}
.container  {
    max-width: 1366px;
    margin: 0 auto;
}
:global(.vtex-input__suffix){
    background-color: #F8F8F8;
}

:global(.vtex-input-prefix__group){
    border:none;
    outline: 0;
}
.logoContainer--main-header-logo{
    padding-left:0;
}