.menuContainer--menu-show-categoria {   
    display: flex;
    flex-direction: column;
}
.styledLinkContainer--menu-show-categoria {
    margin: 0%;
}
.styledLinkContent--menu-show-categoria {
    margin: 0%;
    padding: 5px 0;
}
.submenu--menu-flex-row {
    max-width: 1366px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}
.menuContainerNav--wrapper_menu{
    max-width: 1366px;
    margin:0 auto;
}
.menuContainer--wrapper_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.styledLinkContainer--arrow{
    display:flex;
    align-items:center;
}
.menuItem--arrow--isClosed :global(.vtex-menu-2-x-styledLinkContainer--arrow)::after{
    content:url("/arquivos/arrowMenuAdcos.svg");
    transform: rotate(90deg);
    width:5px;
    height:5px;
    margin-left:20px;
}
.menuItem--arrow--isOpen :global(.vtex-menu-2-x-styledLinkContainer--arrow)::after{
    content:url("/arquivos/arrowMenuAdcos.svg");
    transform: rotate(-90deg);
    width:5px;
    height:5px;
    margin:0 13px 0 7px;

}